doctype html
html(lang='en')
    head
        title Movie Search & Recommendation
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    body
        nav.navbar.navbar-default
            .container
                .navbar-header
                    a.navbar-brand(href='http://phamviethung.github.io') About Me
                ul.nav.navbar-nav
                    li
                        a(href='http://192.168.7.205:8080/home') Home
                    li.active
                        a(href='#') Result
                    li
                        a(href='#') Detail

                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/profile")= 'Welcome User ' + msg1
                    li
                        a(href="http://192.168.7.205:8080/logout") Logout
        .container


            table.table.table-striped
                thead
                    tr
                        th ID
                        th TITLE
                        th GENRE

                tbody
                    each item in msg
                        tr
                            td= item._id
                            td
                                a(href='detail?id='+item._id)= item._source.title
                            td=item._source.genre
